@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6670a5;
  --color-primary-accent: #6670a5;
  --color-background: #ffffff;

  --color-prose: #424149;
  --color-prose-weak: #6f6f6f;
  --color-prose-pale: #8e8d91;
  --color-prose-accent: #000000;

  --color-aux-danger: #d91431;
  --color-aux-danger-accent: #b51029;
  --color-aux-line: #efefef;
  --color-aux-line-weak: #f2f2f2;
  --color-aux-tip: #141414;
  --color-aux-scrollbar: #bbbbbb;
  --color-aux-scrollbar-accent: #aaaaaa;
}

:root.dark {
  --color-primary: #838ec9;
  --color-primary-accent: #838ec9;
  --color-background: #1b1b1b;

  --color-prose: #afafaf;
  --color-prose-weak: #929292;
  --color-prose-pale: #717171;
  --color-prose-accent: #c1c1c1;

  --color-aux-danger: #d91431;
  --color-aux-danger-accent: #b51029;
  --color-aux-line: #2d2d2d;
  --color-aux-line-weak: #2d2d2d;
  --color-aux-tip: #141414;
  --color-aux-scrollbar: #3a3a3a;
  --color-aux-scrollbar-accent: #404040;
}

:root {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  @apply bg-background;
  /* font-family: "Lora"; */
}

a {
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  width: 0.5rem; /* 8px */
  height: 0.5rem; /* 8px */
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-aux-scrollbar);
  background-clip: padding-box;
  border-radius: 0.25rem; /* 4px */
  border: 0.125rem solid transparent; /* 2px */
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-aux-scrollbar-accent);
  background-clip: padding-box;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-aux-scrollbar) transparent;
  }
}

@layer utilities {
  /* scrollbar */
  @media (hover: hover) {
    .scroll-area-r-2 {
      padding-right: 0rem !important; /* 0px */
      overflow-y: scroll;
    }
    .scroll-area-r-2::-webkit-scrollbar {
      width: 0.5rem; /* 8px */
      height: 0.5rem; /* 8px */
      background-color: transparent;
    }
    .scroll-area-r-2::-webkit-scrollbar-track {
      background: transparent;
    }
    .scroll-area-r-2::-webkit-scrollbar-thumb {
      background: transparent;
      background-clip: padding-box;
      border-radius: 0.25rem; /* 4px */
      border: 0.125rem solid transparent; /* 2px */
    }
    .scroll-area-r-2:hover::-webkit-scrollbar-thumb {
      background: var(--color-aux-scrollbar);
      background-clip: padding-box;
    }
    .scroll-area-r-2::-webkit-scrollbar-thumb:hover {
      background: var(--color-aux-scrollbar-accent);
      background-clip: padding-box;
    }
    @supports not selector(::-webkit-scrollbar) {
      .scroll-area-r-2 {
        overflow-y: auto;
        padding-right: 0.5rem; /* 8px */
      }
    }
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
