@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #935050;
    --color-primary-accent: #935050;
    --color-background: #ffffff;

    --color-prose: #282a30;
    --color-prose-weak: #3c4149;
    --color-prose-pale: #979ca2;
    --color-prose-accent: #1b1b1b;

    --color-roam: #f1f1f1a0;
    --color-roam-overlay: #e1e1e190;
    --color-roam-primary: #93505020;
    --color-roam-weak: #f1f1f180;
    --color-roam-accent: #f1f1f1;

    --color-aux-danger: #d91431;
    --color-aux-danger-accent: #b51029;
    --color-aux-line: #f1f1f1;
    --color-aux-tip: #141414;
    --color-aux-scrollbar: #bfbfbfbf;
    --color-aux-scrollbar-accent: #bbbbbb;
  }
  :root.dark {
    --color-primary: #bb7171;
    --color-primary-accent: #c17272;
    --color-background: #222222;

    --color-prose: #afafaf;
    --color-prose-weak: #929292;
    --color-prose-pale: #717171;
    --color-prose-accent: #c1c1c1;

    --color-roam: #2d2d2db0;
    --color-roam-primary: #c1727220;
    --color-roam-weak: #2d2d2d80;
    --color-roam-accent: #2d2d2d;

    --color-aux-danger: #d91431;
    --color-aux-danger-accent: #b51029;
    --color-aux-line: #2d2d2d;
    --color-aux-tip: #141414;
    --color-aux-scrollbar: #3a3a3a;
    --color-aux-scrollbar-accent: #404040;
  }

  :root {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
    @apply bg-background;
  }

  a {
    -webkit-touch-callout: none;
  }

  ::-webkit-scrollbar {
    width: 0.5rem; /* 8px */
    height: 0.5rem; /* 8px */
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-aux-scrollbar);
    background-clip: padding-box;
    border-radius: 0.25rem; /* 4px */
    border: 0.125rem solid transparent; /* 2px */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-aux-scrollbar-accent);
    background-clip: padding-box;
  }
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--color-aux-scrollbar) transparent;
    }
  }
}

@layer utilities {
  /* scrollbar */
  @media (hover: hover) {
    .scroll-area-r-2 {
      padding-right: 0rem !important; /* 0px */
      overflow-y: scroll;
    }
    .scroll-area-r-2::-webkit-scrollbar {
      width: 0.5rem; /* 8px */
      height: 0.5rem; /* 8px */
      background-color: transparent;
    }
    .scroll-area-r-2::-webkit-scrollbar-track {
      background: transparent;
    }
    .scroll-area-r-2::-webkit-scrollbar-thumb {
      background: transparent;
      background-clip: padding-box;
      border-radius: 0.25rem; /* 4px */
      border: 0.125rem solid transparent; /* 2px */
    }
    .scroll-area-r-2:hover::-webkit-scrollbar-thumb {
      background: var(--color-aux-scrollbar);
      background-clip: padding-box;
    }
    .scroll-area-r-2::-webkit-scrollbar-thumb:hover {
      background: var(--color-aux-scrollbar-accent);
      background-clip: padding-box;
    }
    @supports not selector(::-webkit-scrollbar) {
      .scroll-area-r-2 {
        overflow-y: auto;
        padding-right: 0.5rem; /* 8px */
      }
    }
  }

  /* truncate */
  .truncate-2,
  .truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .truncate-2 {
    -webkit-line-clamp: 2;
  }
  .truncate-3 {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 639.9px) {
  svg.lucide-icon {
    /* transform: scale(1.25); */
  }
}
